@model OnlineDesigner.Models.Design
@inject OnlineDesigner.Controllers.ItemsController item
@{
    ViewData["Title"] = "Create";
}

<style> 
img{
  display: flex;
  justify-content: left;
}
</style>

<h1>Create</h1>

<h4>Design</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Size" class="form-control">
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                    <option value="XXL">XXL</option>
                </select>
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" type="color" class="border border-white">
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                <input type="file" name="Image" id="Image">
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group">
                @foreach(var item in item.ItemList())
                {
                    @if (item.Id == ViewBag.Item)
                    {
                        <label asp-for="Item" class="control-label"></label>
                        <p>@Html.DisplayFor(Item => item.Name)</p>
                        <p class="justify-content-flex-end"><img src="~/Images/@item.Img" width="290" height="360" alt="Generic placeholder image"></p>
                        <span asp-validation-for="ItemId" class="text-danger"></span>
                    }
                }
            </div>
            <div class="form-group">
                <label class="control-label">Quantity</label>
                <input type="number" name="quantity" id="quantity">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
