@model OnlineDesigner.ViewModels.Password

@{
    ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>

<hr/>
<div class="row">
    <div class="col-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" type="password" class="form-control"/>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <p>
                    <input type="submit" value="Change Password" class="btn btn-primary w-100"/>
                </p>
            </div>
            <div class="form-group">
                <a class="btn btn-primary w-100" asp-action="Info" asp-route-id="">Back to User</a>
            </div>
        </form>
    </div>
</div>